# ==================== TIDB CLOUD ====================
# Adicione suas credenciais aqui
TIDB_HOST=gateway01us-east1prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=seu_usuario_tidb
TIDB_PASSWORD=sua_senha_tidb
TIDB_DATABASE=test

# ==================== ENVIRONMENT ====================
NODE_ENV=production
